body {
  color: #000000;
  font-family: "Arial", "Helvetica";
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
}

pre {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  letter-spacing: inherit;
  font-weight: inherit;
}

table {
    border-spacing: 3px;
}

td {
    padding: 3px;
}

textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  height: 250px;
  width: 500px;
}

.csDiv {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-align: left;
}

.csErrMsg {
  color: red;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  font-weight: bold;
}

.csL1 {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  letter-spacing: inherit;
  font-weight: inherit;
}

.csL2 {
  color: blue;
  font-family: inherit;
  font-size: inherit;
  font-style: normal;
  letter-spacing: inherit;
  font-weight: bold;
}

.csOkMsg {
  color: green;
  font-family: inherit;
  font-size: inherit;
  font-style: italic;
  font-weight: inherit;
}

#csFooter {
  color: grey;
  text-align: center;
  font-style: italic;
}

#csNavTitle {
  font-weight: bold;
  font-style: italic;
}